/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example Custom CSS : DinoMaster!
 Author : Infinity Box Inc.
 URL : http://wufoo.com

 Last Updated : September 26, 2007

- - - - - - - - - - - - - - - - - - - - - 

INSTRUCTIONS
1. Copy / Paste all or portions of these
CSS rules into "custom.css".

2. Experiment and play.

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */



/* Backgrounds */
body{}
#container{border:none;}
form { width:650px;border:none;}
.wufoo{border:none;}
/* INPUT & TEXTAREA */
input.text,
input.email, 
input.password,
textarea {
font-size: 12px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: normal;
padding: 3px;
color: #777;
border-top: solid 1px #aaa;
border-left: solid 1px #aaa;
border-bottom: solid 1px #ccc;
border-right: solid 1px #ccc;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
outline: 0;
}

input.text:focus,
input.email:focus,
input.password:focus,
textarea.uniform:focus {
-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
border-color: #999;
}








.wufoo .focused{

}
.wufoo .instruct{background-color:#F5F5F5}

.embed firefox{ background: #592c0e;}
#errorLi {display:none;}

html{
background:none;	
}
#logo{
background:none;	
}
#container, html.embed{
background:none;	
}
.safari .wufoo input.file{
background:none;
border:none;
}

.wufoo li.focused{
background:none;	
}
.wufoo .instruct{
background:none;	
}

/* ----- Highlight Styles ----- */
.wufoo li.focused{

}
.wufoo .instruct{

}
.wufoo li.focused label.desc,
.wufoo li.focused div, .wufoo li.focused span, .wufoo li.focused div label, .wufoo li.focused span label,
.safari .wufoo li.focused input.file{ 

}


/* Buttons */
.wufoo input.btTxt {
background: #2eaadc;
color:#fff;
border:none;
padding:10px 20px 8px 20px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.wufoo input.btTxt:hover {
background:#555;
}



/* Borders */
#container{border:none;}
.wufoo .info{display:none}
.wufoo .section{border:none;}
.wufoo .instruct{border:none;}

.wufoo .info, .wufoo .paging-context{
border:none;
}
.wufoo .section h3, .wufoo .captcha, #payment .paging-context{
border:none;
}
.wufoo input.text, .wufoo textarea.textarea{
border:none;
}
.wufoo .instruct{
border:none;
}
.fixed .info{
border:none;
}
.wufoo li.section.scrollText{
border:none;
}

/* Typography */
.wufoo h2 {color:#fff;}
.wufoo .section h3{font-size:110%;font-family:inherit;background:#FFFFFF;color:#000000}
.wufoo .section div{font-size:85%;font-family:inherit;color:#444444}
.wufoo label.desc{font-size:95%;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:inherit;color:#000; padding:6px;}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:80%;font-family:inherit;color:#444444
}

/* Drop Shadows */
#top, #bottom{visibility:hidden;}